#!/usr/bin/env bash

# Add source files path
export SOURCEPATH="$HOME/src";

# Add SoulCycle path
export SCPATH="$SOURCEPATH/sc";

# Add SoulCycle Podium path
export PODIUMPATH="$SCPATH/podium-local";

# Add personal path
export PERSONALPATH="$SOURCEPATH/msost";

# Add GOPATH
# export GOPATH="$SOURCEPATH/go";
export GOPATH="$PODIUMPATH/applications/go"; # NOTE: For podium-local

# Add SoulCycle Go paths
export SCGOPATH="$GOPATH/src/github.com/soulcycle";
export POPSPATH="$GOPATH/src/github.com/soulcycle/pops";

# Add GOMAXPROCS
export GOMAXPROCS=1;

# Add SCALA_HOME
export SCALA_HOME="$SOURCEPATH/scala";

# Set virualenv vars
export WORKON_HOME=$HOME/.virtualenvs;
export PROJECT_HOME=$HOME/Devel;
source `which virtualenvwrapper.sh`;

# Set SSH key name env vars
export PERSONALKEYNAME="id_rsa";
export SOULCYCLEKEYNAME="soulcycle";

# Setup Go config pathing
export FED_CONFIG=$SOURCEPATH/configs/fed.json;
export MIGRATE_CONFIG=$SOURCEPATH/configs/migrate-local.json;
export MILESTONES_CONFIG=$SOURCEPATH/configs/ms.json;
export POPS_CONFIG=$SOURCEPATH/configs/pops.json;

# Setup Github token
export GITHUBTOKEN="<fill me in>";
export POPS_RELEASE_GITHUB_TOKEN=$GITHUBTOKEN;

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# Increase Bash history size. Allow 32³ entries; the default is 500.
# Omit duplicates and commands that begin with a space from history.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
export HISTCONTROL='ignoreboth';

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';
